html{
    font-size: 62.5%;
    background-color: black;
}

@font-face{
    font-family: 'Farenheight';
    src: url('./fonts/FarenheightPersonalUseRegular-9YdJ7.ttf')
}

@font-face{
    font-family: 'Numberstoletters';
    src: url('./fonts/Numberstoletters-Regular.ttf');
}

@font-face{
    font-family: 'Arrayindex';
    src: url('./fonts/Arrayindex-Regular.ttf');
}

body{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-container{
    width: 120rem;
    height: 80rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 3rem;
    background-size: cover;
    border: 4px solid white;
    background: linear-gradient(to top, #01234e 0%, #1e5580 100%);
}

.title-box{
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100rem;
    height: 8rem;
    background-image: linear-gradient(147deg, #000000 0%, #04619f 74%);
    border-radius: 1rem;
    box-shadow: 10px 10px 10px black;
}

.game-title{
    position: relative;
    top: .5rem;
    left: 1.2rem;
    color: rgb(255, 255, 255);
    font-family: 'farenheight';
    font-size: 5.5rem;
}

#humanBoard{
    font-family: 'Trebuchet MS';
    font-size:1.5rem;
    position: relative;
    bottom: 1rem;
    margin: 4rem;
    background-color: #03e5b7;
    background-image: linear-gradient(315deg, #03e5b7 0%, #037ade 74%);
    color: white;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 50rem;
    height: 50rem;
    border: 3px solid black;
    box-shadow: 10px 10px 10px black;
}


#humanBoard>div{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

#humanBoard>div:hover{
    cursor: pointer;
    background-image: linear-gradient(315deg, #000000 0%, #21db00 74%);
}

#computerBoard{
    font-family: 'Trebuchet MS';
    font-size:1.5rem;
    position: relative;
    bottom: 1rem;
    margin: 4rem;
    background-color: #7fcec5;
    background-image: linear-gradient(315deg, #7fcec5 0%, #14557b 74%);
    color: white;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border: 3px solid black;
    width: 50rem;
    height: 50rem;
    box-shadow: 10px 10px 10px black;
}


#computerBoard>div{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

#computerBoard>div:hover{
    cursor: pointer;
    background-image: linear-gradient(315deg, #000000 0%, #db0000 74%);
}


.message-box{
    font-family: 'Trebuchet MS';
    color: white;
    position: relative;
    bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    width: 110rem;
    height: 8rem;
    background-color: #0d0a0b;
    background-image: linear-gradient(315deg, #0d0a0b 0%, #009fc2 74%);
    border-radius: 1rem;
    box-shadow: 10px 10px 10px black;
}

.ship-selection-box{
    visibility: visible;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    bottom: 63.6rem;
    left: 29.3rem;
    width: 50rem;
    height: 50rem;
    background-color: white;
    border: 3px solid black;
    background-color: #2a2a72;
    background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
    box-shadow: 10px 10px 10px black;
    flex-wrap: wrap;
}

.ship-title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    width: 40rem;
    height: 5rem;
    border-radius: 1rem;
    background-color: #fefefe;
    background-image: linear-gradient(315deg, #fefefe 0%, #00a4e4 74%);
    box-shadow: 10px 10px 10px black;
    font-family: 'Trebuchet MS';
    color: white;
    font-size: 1.75rem;
    border: 1px solid black;
}


.ship-yard{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: column;
    width: 21rem;
    height: 30rem;
    position: relative;
    top: 1rem;
    right: 1rem;
}

.selected-ship{
    color:white;
    font-family: 'Trebuchet MS';
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    left:1rem;
    width: 24rem;
    height: 25.5rem;
    box-shadow: 10px 10px 10px black;
    border-radius: 1rem;
    background-color: #2e54c5;
    background-image: linear-gradient(315deg, #001e7a 0%, #7ddff3 74%);
}

.ship-yard-controls{
    position: relative;
    top: 3rem;
    font-size: 2rem;
    font-family: impact;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46rem;
    height: 6rem;
    background-color: #fefefe;
    background-image: linear-gradient(315deg, #fefefe 0%, #00a4e4 74%);
    box-shadow: 10px 10px 10px black;
    border-radius: 1rem;
}

input{
    margin: 1rem;
    font-family: Impact;
    font-size: 3rem;
    width: 5rem;
    height: 3rem;
}

.row-input{
    font-family:'Arrayindex';
}

.column-input{
    font-family: 'Numberstoletters';
}

input:hover{
cursor:default;
}

.rotate{
    margin-left: 3rem;
    font-size: 1.8rem;
    font-weight: 900;
    width: 8rem;
    height: 3rem;
    border: 0;
    background-image: linear-gradient(147deg, #000000 0%, #04619f 74%);
    color:white;
    box-shadow: 5px 5px 5px black;
    border-radius: .5rem;
}

.rotate:hover{
    cursor: pointer;
    background-image: linear-gradient(315deg, #000000 0%, #21db00 74%);
}

.confirm{
    font-family: 'Trebuchet MS';
    font-size: 2.5rem;
    font-weight: 900;
    width: 16rem;
    height: 4rem;
    position: relative;
    bottom: 10rem;
    left: 12rem;
    border: 0;
    border-radius: 1rem;
    background-image: linear-gradient(147deg, #000000 0%, #04619f 74%);
    color:white;
    box-shadow: 5px 5px 5px black;
    border-radius: .5rem;
}

.confirm:hover{
    cursor: pointer;
    background-image: linear-gradient(315deg, #000000 0%, #21db00 74%);
}

.ship-frame{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color:white;
    border: 1px solid rgb(215, 215, 215);
    background-color: #485461;
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
    box-shadow: 5px 5px 5px black;
    border-radius: .5rem;
}

.ship-frame:hover{
    cursor: pointer;
    background-color: #1d2951;
    background-image: linear-gradient(315deg, #1d2951 0%, #dbe7fc 74%);
}

.ship0 {
    width: 6rem;
    height: 3rem;
}

.ship1{
    width: 12rem;
    height: 3rem;
    border-radius: 3rem;
}

.ship2{
    width: 12rem;
    height: 3rem;
    border-radius: 1rem;  
}

.ship3{
    width:  17rem;
    height: 3rem;
    border-radius: 1rem;
}

.ship4{
    width: 22rem;
    height: 3rem;
}

.play-again-btn{
    visibility: hidden;
    font-family: 'Trebuchet MS';
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    writing-mode: vertical-lr;
    text-orientation: upright;
    height:40rem;
    width:5.5rem;
    position: absolute;
    background-color: #0d0a0b;
    background-image: linear-gradient(315deg, #0d0a0b 0%, #5ccbd5 74%);
    border-radius: 1rem;
    box-shadow: 10px 10px 10px black;
}

.play-again-btn:hover{
    cursor: pointer;
    background-image: linear-gradient(315deg, #000000 0%, #21db00 74%);
}

.ship-name{
    font-size:2rem;
    top:-0.5rem;
    position: absolute;
}

.musicBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:3rem;
    position: relative;
    bottom:19rem;
    width:6rem;
    height:4rem;
    background-image: linear-gradient(315deg, #0d0a0b 0%, #00bfff 74%);
    border: 0;
    border-radius: 1rem;
    box-shadow: 10px 10px 10px black;
}

.musicBtn:hover{
    cursor: pointer;
    background-image: linear-gradient(315deg, #0d0a0b 0%, #ff0000 74%);
}



@media (max-width: 1200px) {

.game-container{
    width: 80rem;
    height: 138rem;
}

#humanBoard{
    bottom:59rem;
    order: 1;
}


.message-box{
    top:57rem;
}

.ship-selection-box{
 left:0rem;
 bottom:63.5rem;
}

.message-box{
    width: 70rem;
    font-size:2rem;
}

.play-again-btn{
    bottom:17.5rem;
    writing-mode:horizontal-tb;
    height:5.5rem;
    width:40rem;
}

.musicBtn{
    bottom: 18rem;
    left:30rem;
}
}

